<ion-header>
    <ion-toolbar color="danger">
        <ion-title class="title">Mandaditos APP</ion-title>
        <ion-buttons slot="primary">
          <ion-button (click)="onLogout()"><ion-icon name="log-in-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>
<!-- Map container -->
<ion-content padding>
    <!-- Map -->
    <div #map id="map">
        <!-- <ion-button (click)="foo()">Default</ion-button> -->
    </div>
    <ul id="places"></ul>
</ion-content>