

.title {
    
    /* color: rgb(255, 255, 255); */
}

p {
    color: black;
    padding-left: 10px;
}

#map {
    width: auto;
    height: 100%;
}

html,
body {
    height: 300px;
    margin: 0;
    padding: 0;
}

#icono {
    padding-left: 120px;
}

#info {
    border-style: solid;
    border-color: black;
}


/* Optional: Makes the sample page fill the window. */

#right-panel {
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#right-panel select,
#right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}


/*
  #right-panel {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 5px;
    top: 60%;
    margin-top: -195px;
    height: 330px;
    width: 200px;
    padding: 5px;
    z-index: 5;
    border: 1px solid #999;
    background: #fff;
  }
  */

h2 {
    color: black;
    font-size: 22px;
    margin: 0 0 5px 0;
}

ul {
    color: black;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 271px;
    width: 200px;
    overflow-y: scroll;
}

li {
    background-color: #f1f1f1;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

li:nth-child(odd) {
    background-color: #fcfcfc;
}

#more {
    width: 100%;
    margin: 5px 0 0 0;
}