<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="end">
            <ion-button color="light">
                <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="light">Hola {{ currentUser.nombres }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-text style="padding: 1em;" color="">Pedidos realizados {{items.length}}</ion-text>

<ion-content padding>
    <ion-card *ngFor="let item of items | async">
        <ion-card-header type="string">
            <ion-card-title color="dark">Cliente: {{item.cliente.nombre}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-text color="dark"><strong>Ubicación: </strong>{{ item.cliente.direccion }}</ion-text>
            <ion-text color="dark"><strong>Teléfono: </strong>{{ item.cliente.telefono}}</ion-text>
            <ion-text color="dark"><strong>Cantidad de Artículos: </strong>{{ item.cantidad }}</ion-text>
            <ion-button (click)="navigateToDetail(item)" color="danger" size="small" id="view-btn">Ver</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>