<ion-content>
    <img class="login_icon" src="assets/icon/logo.jpeg">
    <div class="login_register">
        <ion-toolbar color="danger">
            <ion-title>Iniciar Sesión</ion-title>
        </ion-toolbar>

        <ion-list class="login_form">
            <ion-item>
                <ion-label position="floating">Correo</ion-label>
                <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
            </ion-item>
            <ion-button (click)="onSubmitLogin()" fill="solid" expand="" color="danger">Acceder </ion-button>
        </ion-list>


    </div>

    <div class="login_label">
        <ion-label>¿No tienes una cuenta ?
            <a [routerLink]="['../register']">Crear cuenta</a></ion-label>
    </div>


</ion-content>