.login_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.login_register {
    flex: 2;
    margin-top: 15px;
    border: 2px solid #f1f1f1;
    margin-left: 25px;
    margin-right: 25px;
    color: black;
    .login_form {
        background: none;
        max-width: 300px;
        margin: 0 auto;
    }
    ion-item {
        margin-top: 1em;
        color: black;
        margin-left: 18px;
        margin-right: 18px;
        border: 2px solid #f1f1f1;
        border-radius: 10px;
        margin-bottom: 4px;
        font-size: 0.7em;
    }
    ion-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        margin-bottom: 2em;
        width: 90%;
    }
}

.login_label {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 15px;
}