ion-icon {
    font-size: 25px;
}

.contenido_io {
    float: right;
    margin-right: 5px;
}

.btn_solicitar {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
    margin-left: 20px;
    margin-right: 20px;
}

img .imagen-avatar { margin-left: 100% !important }