<ion-header>
    <ion-toolbar color="danger">
        <ion-item-divider color="danger">
            <ion-title>Lista de pedidos de {{addpedido.cliente.nombre}}</ion-title>
        </ion-item-divider>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <div>
            <ion-card *ngIf="pedidos!=0">
                <ion-card-header>
                    <ion-card-subtitle>{{tiendas.nombre}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <p>Dirección: {{tiendas.direccion}}
                    </p>
                    <p>Cant de articulos: {{pedidos}}</p>
                    <p>
                        <ion-label floating *ngIf="ocultarBtn">
                            <ion-button color="danger" [routerLink]="" (click)="updatePedido()">
                                <ion-icon name="create-outline"></ion-icon>
                            </ion-button>
                            <ion-button color="danger" [routerLink]="" (click)="presentAlert()">
                                <ion-icon name="trash-outline"></ion-icon>
                            </ion-button>
                        </ion-label>
                    </p>
                </ion-card-content>

            </ion-card>
        </div>
        <div class="contenido_io" *ngIf="ocultarBtn">
            <ion-button ion-button [routerLink]="['/tiendas']" color="danger" (click)="savePedido()">
                <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
        </div>

    </ion-list>
    <ion-button fill="solid" expand="block" color="danger" class="btn_solicitar" (click)="confirmPedido()">{{estado}}   </ion-button>

    <div fullscreen class="ion-padding">
        <ion-alert-controller></ion-alert-controller>
        <ion-button expand="block" (click)="presentNotificacion()">Mostrar Notificación</ion-button>
    </div>


</ion-content>
