ion-icon{
    --highlight-height: 0;
}

.add-container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: black;
}

.form-add{
    margin: 20px;
    border: 2px solid black;
    color: black;
}

.form{
    color: black;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    --ion-border-color: #ffffff;

    ion-item-divider{
        margin-bottom: 5px;
    }

    ion-item{
        --highlight-height: 0;
        ion-input{
            border: 2px solid black;
            padding-left: 10px;
        }

        ion-textarea{
            border: 2px solid black;
            padding-left: 5px;
        }

        ion-label{
            margin-bottom: 13px;
        }
    }
}

ion-icon{
    color: black;
}

.articulo-card{
    margin: 20px;
    padding: 5px;
    border: 2px solid black;
    color: black;
}

.btn-confirmar{
    margin-left: 20px;
    margin-right: 20px;
}