<ion-header>
    <ion-toolbar color="danger">
        <ion-item-divider color="danger">
            <ion-button color="danger" (click)="backMap()">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
            <ion-title>{{this.nombreTienda}}</ion-title>
        </ion-item-divider>
    </ion-toolbar>
</ion-header>

<ion-content class="add-container">
    <div class="form-add">
        <ion-list lines="none" class="form">

            <ion-item>
                <ion-label position="stacked">Cantidad</ion-label>
                <ion-input type="text" [(ngModel)]="addProd.cantidad"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Nombre del producto</ion-label>
                <ion-input type="text" [(ngModel)]="addProd.nombreProducto"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Observación</ion-label>
                <ion-textarea type="text" [(ngModel)]="addProd.observacion"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-button [hidden]="visibleAgregar" color="danger" (click)="add(addProd)">
                    Agregar
                </ion-button>
                <ion-button [hidden]="visibleUpdate" color="danger" (click)="updateProducto(addProd)">
                    Actualizar
                </ion-button>
            </ion-item>

        </ion-list>
    </div>

    <div class="articulo-card" *ngIf="Productos">
        <ion-card>
            <ion-item *ngFor="let item of Productos; let i = index" color="black" class="item-prod">
                <ion-label>{{i+1}}</ion-label>
                <ion-label>Cantidad: {{ item.cantidad }}</ion-label><br>
                <ion-label>Nombre Producto: {{ item.nombreProducto }}</ion-label><br>
                <ion-label>Observación: {{ item.observacion }}</ion-label>
                <ion-label>
                    <ion-icon name="trash-sharp" (click)=deleteProducto(i)></ion-icon>
                </ion-label>
                <ion-label>
                    <ion-icon name="pencil-sharp" (click)=editProducto(item,i)></ion-icon>
                </ion-label>
            </ion-item>
        </ion-card>
    </div>

    <ion-button fill="solid" expand="block" color="danger" class="btn-confirmar" (click)="confirmarPedido()">Confirmar</ion-button>
</ion-content>