<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-button color="light" (click)="backButton()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="pedido" color="light">Lista de {{ pedido.cliente.nombre }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="pedido">
        <div class="container-box">
            <p class="info-box">Dirección: {{pedido.cliente.direccion}}</p>
            <p class="info-box">Teléfono: {{pedido.cliente.telefono}}</p>
        </div>
        <ion-card *ngFor="let item of pedido.detalle">
            <ion-card-header color="danger" type="string">
                <ion-card-title color="light">Local: {{item.tienda}}</ion-card-title>
                <ion-card-subtitle color='light'>Dirección: {{item.direccion}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-item *ngFor="let product of item.listado">
                    <ion-label class="ion-text-wrap"> {{ product.nombre }} | {{product.descripcion}} </ion-label>
                    <ion-note slot="start">
                        <p>{{ product.cantidad }}</p>
                    </ion-note>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </div>
    <ion-button color="danger" expand="block" (click)="accept(pedido)">Aceptar solicitud</ion-button>
</ion-content>