<ion-content class="home">
    <div class="img-logo">
        <img src="assets/icon/logo.jpeg">
    </div>
    <div class="form-home">
        <ion-button fill="solid" expand="block" color="danger" [routerLink]="['../register']">Registrarse</ion-button>
        <ion-button fill="solid" expand="block" color="white" style="color: black;" [routerLink]="['../login']">Iniciar sesión</ion-button>
    </div>
</ion-content>