.img-logo {
    margin-top: 150px;
    margin-bottom: 50px;
    img {
        display: block;
        margin: auto;
    }
}

.form-home {
    padding-right: 58px;
    padding-left: 58px;
    ion-button {
        margin-top: 10px;
        
    }
}