<!--<ion-thumbnail>
  <img src="assets/icon/logo.jpeg">
</ion-thumbnail>

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crear Cuentas</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="register-container gradient-1">
    <div class="header">
        <div class="title">
            <img src="assets/icon/logo.jpeg">
        </div>
    </div>

    <div class="form-register-container">
        <ion-title>Crear Cuenta</ion-title>
        <ion-list lines="none" class="form">
            <ion-item>
                <ion-input placeholder="Nombres" type="text" [(ngModel)]="user.nombres"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input placeholder="Apellidos" type="text" [(ngModel)]="user.apellidos"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input placeholder="Teléfono" type="text" [(ngModel)]="user.telefono"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input placeholder="Correo" type="text" [(ngModel)]="user.correo"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input placeholder="Contraseña" type="password" [(ngModel)]="user.contrasena"></ion-input>
            </ion-item>
        </ion-list>
        <ion-button fill="solid" expand="block" color="danger" (click)="register()">Registrarse ahora</ion-button>
    </div>

    <div style="color: black; text-align: center; font-size: 0.9em" class="login">
        <p>¿Ya tienes una cuenta?
            <a [routerLink]="['../login']">Inicia Sesión</a></p>
    </div>
</ion-content>