.register-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    .header {
        flex: 1;
        .title {
            padding-top: 23px;
            img {
                width: 130px;
                display: block;
                margin: auto;
            }
        }
    }
    .form-register-container {
        flex: 2;
        margin-top: 15px;
        border: 2px solid #f1f1f1;
        margin-left: 25px;
        margin-right: 25px;
        color: black;
        ion-title {
            margin-top: 15px;
            margin-bottom: 7px;
            text-align: center;
            font-size: 0.9em;
        }
    }
    .form {
        --background: none;
        background: none;
        max-width: 320px;
        margin: 0 auto;
        ion-item {
            color: black;
            margin-left: 18px;
            margin-right: 18px;
            --border-color: none;
            --highlight-height: 0;
            border: 2px solid #f1f1f1;
            border-radius: 10px;
            margin-bottom: 4px;
            font-size: 0.7em;
        }
    }
    ion-button {
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 15px;
    }
}